<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>NS Asset Management - Institutions</title>
<head th:include="fragments/body :: head (~{::title})"></head>
<body class="fixed-left">
	<div th:include="fragments/body :: logout_modal (~{::title})"></div>

	<!-- Begin page -->
	<div id="wrapper">
		<div th:include="fragments/body :: admin_navbar (~{::title})"></div>
		<!-- Start right content -->
		<div class="content-page">
			<!-- ============================================================== -->
			<!-- Start Content here -->
			<!-- ============================================================== -->
			<div class="content">
				<!-- Page Heading Start -->
				<div class="page-heading">
					<!-- <span style="float: right;"> <a
					th:href="@{compose_letter}" 
					class="btn btn-danger btn-lg">Back</a></span> -->
					<span onclick="printDiv('printableArea')" style="float: right;">
						<a class="btn btn-success btn-lg">print</a>
					</span>
					<h1>
						<i class='fa fa-file'></i> Letter Preview
					</h1>
				</div>
				<!-- Page Heading End-->
				<!-- Your awesome content goes here -->
				<div id="printableArea">
				<div class="widget invoice">
					<div class="widget-content padding">
							<div class="row">
					<img th:src="@{images/users/default-user.png}" class="img-responsive not-logged-avatar">		
								<div>
									<h2 style="text-align:center">MINISTRY OF NATIONAL SECURITY</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<br>
									<p>Ministry of National Security</p>
									<p>Box 32 Accra</p>
									<p>Ministries</p>
									<p>28-Sept, 2017</p>
								</div>
							</div>
							<br> 
							<div class="row">
								<div class="col-sm-6">
									<br>
									<p th:text=${session.recipient.recipients} ></p>
									<p th:text=${session.recipient.subject}></p>
									<p>28-Sept, 2017</p>
								</div>
							</div>
							<br>
							<div class="table-responsive">
							<p th:text=${session.recipient.content}></p>
							</div>
						</div>
					</div>
				</div>
				<!-- End of your awesome content -->
				<!-- Footer Start -->
				<footer>
					Ministry of National Security &copy; 2017
					<div class="footer-links pull-right"></div>
				</footer>
				<!-- Footer End -->
			</div>
			<!-- ============================================================== -->
			<!-- End content here -->
			<!-- ============================================================== -->

		</div>
		<!-- End right content -->
	</div>
	<!-- End of page -->
	<!-- the overlay modal element -->
	<div class="md-overlay"></div>
	<!-- End of eoverlay modal -->
	<div th:include="fragments/body :: footer (~{::title})"></div>
	<script>
		function printDiv(divName) {
			var printContents = document.getElementById(divName).innerHTML;
			var originalContents = document.body.innerHTML;

			document.body.innerHTML = printContents;

			window.print();

			document.body.innerHTML = originalContents;
		}
	</script>
</body>
</html>