<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>NS Asset Management - Institutions</title>
<head th:include="fragments/body :: head (~{::title})"></head>
<link th:href="@{/assets/libs/dropzone/css/dropzone.css}"
	rel="stylesheet" type="text/css" />
<body class="fixed-left">
	<div th:include="fragments/body :: logout_modal (~{::title})"></div>

	<!-- Begin page -->
	<div id="wrapper">
		<div th:include="fragments/body :: suppliers_navbar (~{::title})"></div>
		<!-- Start right content -->
		<div class="content-page">
			<!-- ============================================================== -->
			<!-- Start Content here -->
			<!-- ============================================================== -->
			<div class="content">
				<!-- Page Heading Start -->
				<div class="page-heading">
					<span style="float: right;"> <a
						th:href='@{suppliers_entries}' class="btn btn-danger btn-lg">CANCEL</a></span>
					<h1>
						<i class='fa fa-file'></i> ENTRIES
					</h1>
				</div>
				<!-- Page Heading End-->

				<!--  content starts here -->

				<div class="row">

					<div class="widget">

						<div class="widget-content padding">
							<form action="#" class="form-horizontal" role="form" 
							th:object="${suppliersEntries}" th:action="@{/suppliers_entries_new}" 
							th:method="post">
								<div class="form-group">
									<label for="input-text" class="col-sm-2 control-label">Type
										Of Vehicle</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="input-text"
											placeholder="" th:field="*{typeOfVehicle}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-text-help" class="col-sm-2 control-label">Year
										Of Manufacturing</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="input-text-help"
											placeholder="" th:field="*{manufYear}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Cost
										of Vehicle</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputPassword"
											placeholder="" th:field="*{costOfVehicle}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-text-help" class="col-sm-2 control-label">Engine
										Number</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="input-text-help"
											placeholder="" th:field="*{engineNumber}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-text-help" class="col-sm-2 control-label">Chasis
										Number</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="input-text-help"
											placeholder="" th:field="*{chassisNumber}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Import Duty
										Exception</label>
									<div class="col-sm-10">
									<input type="hidden" name="dutyExemptionValue" />
										<div class="radio">
											<label><input type="radio" name="dutyExemptionRadio"
												value="1" class="dutyExemptionRadio"> Yes
											</label>
										</div>
										<div class="radio">
											<label><input type="radio" name="dutyExemptionRadio"
												value="0" id="dutyExemptionRadio"> No
											</label>
										</div>
									</div>
								</div>
								<div class="form-group" id="dutyDetails">
									<label for="input-text-help" class="col-sm-2 control-label">
										Import Duty Details</label>
									<div class="col-sm-10">
										<input type="text" class="form-control"
											placeholder="" th:field="*{importDutyDetails}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-text-help" class="col-sm-2 control-label">Institution
										Supplied To</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="input-text-help"
											placeholder="" th:field="*{institutionSuppliedTo}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Date Supplied</label>
									<div class="col-sm-3">
										<input type="text" class="form-control datepicker-input"
										th:field="*{dateSupplied}">
									</div>
								</div>
								<div class="form-group">
									<label for="input-text-help" class="col-sm-2 control-label">
										DVLA Registration Details</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="input-text-help"
											placeholder="" th:field="*{dvlaRegistrationDetails}">
									</div>
								</div>

								<div class="form-group">
									<label for="input-text-help" class="col-sm-2 control-label">
										Payment Details </label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="input-text-help"
											placeholder="Enter Cheque Payment Details" th:field="*{paymentChequeDetails}">
									</div>
								</div>
								<div action="#"  class="form-group dropzone">
									<div class="fallback">
										<input name="file" type="file" multiple />
									</div>
								</div>
								<div  class="form-group">
									<div class="col-sm-offset-5 col-sm-5">
										<button type="submit" class="btn btn-lg btn-blue-3">Save</button>
									</div>
								</div>

							</form>
						</div>
					</div>

				</div>
				<!--  content Ends here -->

				<div class="row">
					<div class="col-md-12 portlets"></div>
				</div>

				<!-- Footer Start -->
				<footer>
					Ministry of National Security &copy; 2017
					<div class="footer-links pull-right"></div>
				</footer>
				<!-- Footer End -->
			</div>
			<!-- ============================================================== -->
			<!-- End content here -->
			<!-- ============================================================== -->

		</div>
		<!-- End right content -->
	</div>
	<!-- End of page -->
	<!-- the overlay modal element -->
	<div class="md-overlay"></div>
	<!-- End of eoverlay modal -->
	<div th:include="fragments/body :: footer (~{::title})"></div>
	<script th:src="@{/assets/libs/dropzone/dropzone.min.js}"></script>
	<script>
	$(document).ready(function(){
		$("#dutyDetails").hide();
		 $(document).mouseover(function (){
			 var check = document.getElementById('dutyExemptionRadio');
			 if(check.checked == true){
				 $("#dutyDetails").hide();
				 console.log(check.checked);
			 }else{
				 $("#dutyDetails").show();
				 console.log(check.checked);
			 }
			
		 })
	});
	
	</script>

</body>
</html>